.btn {

    &--animated {
        animation: moveInBottom 1s ease-out backwards .8s;
    }

    &:link,
    &:visited {
        border-radius: 2rem;
        color: rgb(20, 20, 20);
        display: inline-block;
        font-size: 1.5rem;
        font-weight: 200;
        letter-spacing: .2rem;
        padding: 1rem 2.2rem;
        text-decoration: none;
        text-transform: uppercase;
        transition: all .2s;
    }

    &:hover {
        box-shadow: 0 .5rem 2rem rgba(color(color-black), .6);
        transform: translateY(-.3rem);
    }

    &:active {
        box-shadow: 0 .5rem 1rem rgba(color(color-black), .4);
        transform: translateY(-.1rem);
    }

    &--white {
        background-color: #fff;
    }
}